{% extends "organizer/base_organizer.html" %}

{% block title %}
	Create Tag Form
{% endblock title %}

{% block content %}
	
	<div>
		<div>
	<h2>Create a Tag </h2>

	<form action = "{% url 'organizer_create_tag' %}" method = 'POST'>
		{% csrf_token %}


<!-- 		{% for field in form %}
		{{ field.errors }}
		<p>
			{{ field.label_tag }}
			{{ field }}
		</p>
		{% endfor %} -->

		{{ form.as_p }}

<!-- 		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
				<li><em> {{ error }} </em></li>
			{% endfor %}
		{% endif %} -->


<!-- 
		{% if form.slug.errors %}
			{% for error in form.slug.errors %}
				<li><em> {{ error }} </em></li>
			{% endfor %}
		{% endif %} -->

<!-- 	{{ form.non_field_errors }}
		{{ form.name.errors }} -->

<!-- 		{% if form.name.value %}
		<p>
			<label for='id_name'>Name:</label>
			<input id='id_name' maxlength="31" name="name" type="text" 
				value= "{{ form.name.value }}" />
		{% else %}

			<label for='id_name'>Name:</label>
			<input id='id_name' maxlength="31" name="name" type="text" />
		{% endif %} -->

		<!-- <p> -->
<!-- 			<label for = " {{ form.name.id_for_label }} ">
			{{ form.slug.label }}
			</label> -->

<!-- 		{{ form.name.label_tag }}
			{{ form.name }} -->

<!-- 
		{% if form.name.errors %}
			{% for error in form.name.errors %}
				<li><em> {{ error }} </em></li>
			{% endfor %}
		{% endif %} -->

		<!-- </p> -->

		<!-- {% if form.slug.value %}
		<p>
			<label for='id_slug'>Slug:</label>
			<input id='id_slug' maxlength="31" name="slug" type="text" 
				value = "{{ form.slug.value }}"/>
		{% else %}
			<p>
			<label for='id_slug'>Slug:</label>
			<input id='id_slug' maxlength="31" name="slug" type="text" />
		{% endif %} -->
<!-- 
		{{ form.slug.errors }} -->
		<!-- <p> -->
<!-- 			<label for=" {{ form.slug.id_for_label }} ">
				{{ form.name.label }}
			</label> -->
<!-- 			
			{{ form.slug.label_tag }}
			{{ form.slug }} -->
		<!-- </p> -->



		<!-- </p> -->
				<button type="Submit">
					Create Tag
				</button>
			</form> 
		</div> 
	</div>

{% endblock content %}